@model IEnumerable<LesBlaguesDeFlavio.Models.Blague>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Créer une nouvelle blague</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Blague</th>
            <th>Usager</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @User.Identity?.Name
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Voir la réponse</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Effacer</a>
            </td>
        </tr>
}
    </tbody>
</table>
